{% extends 'master.html' %}

{% block main_content %}
<div class="d-flex justify-content-between p-3">
    <h3 class="mb-1 ">{{product.title}}</h3>
    <div class="d-flex gap-2">
        <a class="btn btn-warning" href="{% url 'edit_product' product_id=product.id %}">Edit Product</a>
        <a class="btn btn-danger" href="{% url 'delete_product' product_id=product.id %}">Delete Product</a>
    </div>
</div>
<hr>
<div class="d-flex gap-2 ">
    <div class="w-50 flex-shrink-0">
        <img class="w-50" src="{{product.thumbnail.url}}" alt="{{product.title}}">
    </div>
    <div>
        <h3>{{product.title}}</h3>
        <p>{{product.description}}</p>
        <h5>rating: {{product.rating}}/5</h5>
        <h4>${{product.price}}</h4>
    </div>

</div>
{% endblock %}
