{% extends 'master.html' %}

{% block title %}
<style>
  a{
    font-size:20px;
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: rgb(13 202 240);
}
</style>
{% endblock title %}

{% block main_content %}
<div class="d-flex justify-content-between p-3">
  <h3 class="mb-1">All {{category.name}} Products</h3>
  <div class="d-flex gap-3">
    {% if user.id %}
      {% if category  %} 
        {% if user.is_superuser %}
          <a class="btn btn-danger" href="{% url 'delete_category' category_id=category.id %}">Delete Category</a>
        {% else %}
          <a class="btn btn-warning" href="{% url 'edit_category' category_id=category.id %}">Edit Category</a>
        {% endif %}
      {% endif %}
      <a class="btn btn-success" href="{% url 'add_product' %}">Add Product</a>
    {% endif %}
  </div>
</div>
<hr class="mb-3">
<div class="d-flex flex-wrap gap-4 justify-content-evenly">
    {% for product in products %}
      {% url 'one_product' product_id=product.id as product_url %}
      {% with p=product %}
        {% include 'components/card.html' with card_id=p.id card_title=p.title card_body=p.description card_image=p.thumbnail.url card_url=product_url %}
      {% endwith %}
      {% empty %}
        <h3>{{error_message}}</h3>
        <a href="{% url 'all_products' %}"> &#8630 Return to all products</a>
    {% endfor %}
</div>
<script>
async function add_to_cart(e) {
    const product_id = e.target.id;
    try {
        const response = await fetch(`/products/add_to_cart/${product_id}/`);
        const json_res = await response.json();

        if (json_res.success) {
            console.log("Added to cart");
        } else {
            console.log("Couldn't Add to cart");
        }
    } catch (error) {
        console.error("Error:", error);
    }
}
  window.onload = () =>document.querySelectorAll(".add_to_cart").forEach((element)=>{
    element.addEventListener('click',add_to_cart)
  })
</script>
{% endblock %}
