{% extends 'master.html' %}

{% block main_content %}
<div class="d-flex justify-content-between p-3">
    <h3 class="mb-1 ">{{product.title}}</h3>
    <div class="d-flex gap-2">
        {% if user.id %}
            <a class="btn btn-warning" href="{% url 'edit_product' product_id=product.id %}">Edit Product</a>
            {% if user.is_superuser %}
                <a class="btn btn-danger" href="{% url 'delete_product' product_id=product.id %}">Delete Product</a>
            {% endif %}
        {% endif %}
    </div>
</div>
<hr>
<div class="d-flex gap-2 ">
    <div class="w-50 flex-shrink-0">
        <img class="w-50" src="{{product.thumbnail.url}}" alt="{{product.title}}">
    </div>
    <div>
        <h3>{{product.title}}</h3>
        <p>{{product.description}}</p>
        {% if product.rating %}
            <h5>rating: {{product.rating}}/5</h5>
        {% endif %}
        <h4>${{product.price}}</h4>
    </div>

</div>
{% endblock %}
